.todo {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 4px 12px 4px 0;
    border-bottom: 1px solid #727272;
}

.todo .text {
    flex: 1;
}

.todo .text .complete {
    text-decoration: line-through;
    color: #727272;
}

.todo .edit {
    display: flex;
    gap: 4px;
}

.todo .edit div {
    cursor: pointer;
    transition: transform .3s ease-in-out;
}

.todo .edit div:hover {
    transform: scale(1.1);
}

@media only screen and (max-width: 380px) {
    .todo {
        flex-direction: column;
        align-items: flex-start;
    }
}